/* KISS */

html,
body {
	width: 100%;
	height: auto;
	margin: 15px 0px 15px 0px;
	background-color: #0c0c0c;
}

header {
	border: 1px solid #1af2dc;  
}

main {
	text-align: center;  
}

.text {
	display: inline-block; 
	position: relative; 
}

.name {
	color: azure;
	font-size: 80px;
	font-family: 'Orbitron', sans-serif;
}

.description {
	color: #289fba;
	font-size: 40px;
	font-family: 'Thasadith', sans-serif;
}

.container { 
	max-width: 100%;
	margin-top: 45px;
}

.photos {
	display: flex;
	flex-direction: row-reverse; 
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.photos img {
	width: 280px;
	height: 280px;
}

.photo-circular {
	border: 1px solid transparent; 
	border-radius: 50%;
	padding: 15px;
}

#tribute-info {
	margin: 0 auto; 
	background-color: #ffffff; 
	margin: 100px 0px 20px 0px; 
}

#headline {
	display: inline-block; 
	color:#289fba; 
	font-family: 'Orbitron', sans-serif;
	font-size: 3.5em; 
	text-align: center; 
	margin-top: 50px; 
}  

#list { 
	max-width: 100%; 
	list-style: none; 
	margin: 20px 40px 0px 0px;  
}

.date {  
	background: #fff;  
	border: 1px solid white;     
	border-radius: 15px; 
	padding: 5px 0px 5px 5px;  
	text-align: left; 
}  

.date p { 
	color:#093c8e; 
	font-family: 'Special Elite', cursive; 
	font-size: 1em; 
	
}

.events {   
	font-family: 'Special Elite', cursive; 
	border: 2px solid rgb(2, 70, 2);   
	border-radius: 15px;  
	padding: 5px;  
	color: #093c8e; 
	line-height: 1.5; 
} 

div .video { 
	display: block; 
	margin-top: 50px; 
	
} 

.video p { 
	color: green; 
}

iframe { 
	margin-bottom: 50px; 
}

footer { 
	display: flex; 
	justify-content: center; 
	padding: 10px; 
	width: 100%; 
	color: #fff; 
	text-align: center; 
	border-bottom: 1px solid #1af2dc;  
}