/* KISS */

html,
body {
	width: 100%;
	height: auto;
	margin: 15px 0px 15px 0px;
	background-color: #0c0c0c;
}

header {
	border: 1px solid #1af2dc;  
}

main {
	text-align: center;  
}

.text {
	display: inline-block; 
	position: relative; 
}

.name {
	color: azure;
	font-size: 80px;
	font-family: 'Orbitron', sans-serif;
}

.description {
	color: #289fba;
	font-size: 40px;
	font-family: 'Thasadith', sans-serif;
}

.container { 
	/* как сделать его responsive по максимуму? */
	max-width: 100%;
	margin-top: 45px;
}

.photos {
	display: flex;
	flex-direction: row-reverse; 
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.photos img {
	width: 280px;
	height: 280px;
}

.photo-circular {
	border: 1px solid transparent; 
	border-radius: 50%;
	padding: 15px;
}

#tribute-info {
	margin: 0 auto; 
	background-color: #ffffff; 
	margin: 100px 0px 50px 0px; 
}

#headline {
	display: inline-block; 
	color: #038074;  
	font-family: 'Orbitron', sans-serif;
	font-size: 3em; 
	text-align: center; 
	margin-top: 50px; 
}  

#list { 
	max-width: 50%; 
	list-style: none;  
}

.date {  
	width: 25%; 
	background: #fff;  
	border: 1px solid white;    
	border-radius: 15px; 
	margin: 25px 0px 5px 200px; 
	padding: 5px 0px 5px 5px;  
	text-align: center; 
	
}  

.date p { 
	color: aqua;  
	font-family: 'Special Elite', cursive; 
	font-size: 1em; 
	
}

.events {  
	width: 45%; 
	background: #1af2dc; 
	border: 2px solid rgb(2, 70, 2);   
	border-radius: 15px;  
	margin: 0px 150px 0px 500px; 
	padding: 15px;  
	opacity: 0.7; 
	color: #fff; 
	

.events p { 
	font-family: 'Quicksand', sans-serif; 
	font-size: 18px;  
	text-decoration: none; 
	
}

blockquote { 
	display: block;    
	width: 50%; 
	border: 2px solid #289fba; 
	margin: 100px 400px 100px 400px; 
	padding: 20px;  
	border-radius: 15px 50px; 
	
} 

blockquote p { 
	color: aliceblue;  
	font-family: 'Quicksand', sans-serif;  
	font-size: 20px;  
} 

footer { 
	border: 1px solid #1af2dc; 
} 

footer div { 
	display: block; 
	width: 100%; 
} 

footer p { 
	color: wheat; 
}




















